@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 39, 46, 53;
  --background-rgb: 238, 239, 242;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 29, 37, 43;
  }
}

@layer components {
  .markdown-links a {
    @apply underline; /* Add your desired Tailwind classes here */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.bg-custom {
  background-color: rgba(255, 255, 255, 0.07);
}